*{
  box-sizing: border-box;
}

html,
body{
  background-color: #264653;
}

.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.logo-cactus{
  height: 135px;
}


.clic-container {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

footer {
  position: fixed;
  bottom: 100px;
  left: 100px;
  color: #7678ED;
}